{% load static tailwind_tags %} {% load component_tags %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    {% tailwind_css %}
  </head>
  <body class="font-mono">
    {% component "navbar" %} {% endcomponent %}

    <div class="text-4xl"> 
      Customer
    </div>

    {% block body %}{% endblock body %}
    
    {% component "footer" year="{{year}}" %}
    {% endcomponent %}
  </body>
</html>
