<div class="navbar bg-base-200">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">Delux Backery</a>
  </div>
  <div class="navbar-center lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/customer">Customer</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/transaction">Transaction</a></li>
    </ul>
  </div>
  <div class="navbar-end flex gap-2">
    {% if user.is_authenticated %} {{ user.username }}
    <form method="POST" action="{% url "logout" %}">
      {% csrf_token %}
      <button type="submit" class="btn">Log Out</button>
    {% csrf_token %}
    </form>
    {% else %}
    <a href="{% url "register" %}" class="btn">Register</a>
    <a href="{% url "login" %}" class="btn">Log In</a>
    {% endif %}
  </div>
</div>
