<footer class="footer footer-center bg-base-200 text-base-content rounded p-10">
  <div class="container flex w-full justify-center items-center">
    <div>
      <a class="btn btn-ghost text-xl">Delux Backery</a>
    </div>
    <div class="flex gap-10 mt-10">
      <ul class="menu menu-horizontal px-1">
        <li><a>Customer</a></li>
        <li><a>Inventory</a></li>
      </ul>
    </div>
  </div>

  <div class="container flex justify-center items-center mb-4">
    <p>Copyright © 2024 - All right reserved by Rashid Khan</p>
  </div>
</footer>
